<div class="container" id="jumbo1">
    <div class="jumbotron">
        <h1 class="display-4">Roland's Company</h1>
        <p class="lead">Apenas mais um enchedor de linguíça nesse projeto para testar meus conhecinendos.</p>
        <hr class="my-4">
        <p>Mais um texto para encher linguiça, poderia ter usado um Lorem mas não tava afim.</p>
        <a href="#" class="btn btn-primary btn-lg">Saiba mais!</a>
    </div>
</div>
<div class="container" id="jumbo2">
    <div class="jumbotron">
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis exercitationem iure culpa alias similique dolores 
            eum totam non ex repellat dignissimos, fugit sequi minima excepturi neque reprehenderit qui molestias dicta, iste, facilis quibusdam 
            minus architecto aperiam. Officia temporibus ea et omnis laudantium numquam laborum, dolore iusto nisi eum eligendi sequi, consequatur 
            nostrum voluptate rem doloribus perferendis accusamus ex amet sunt? 
        </p>
        <hr class="my-4">
        <p>Achou que eu não ia encher linguiça com o lorem?</p>
    </div>
</div>
